window.Bar {
  padding: 0.4rem;

  * {
    -gtk-icon-size: 1.3rem;
  }

  centerbox {
    border-radius: var(--radius);
    background-color: var(--base01);
    padding: 0 0.4rem 0;
    transition: all 0.6s;

    image.logo {
      -gtk-icon-size: 1.5rem;
      color: var(--base0D);
    }

    box.workspaces {
      button.workspace {
        padding: 0.3rem;
        border-radius: 20px;
        min-height: 0.4rem;
        min-width: 0.4rem;
        background-color: var(--base05);
        transition: all 0.6s;

        &.active {
          min-width: 0.9rem;
          background-color: var(--base0A);
        }

        &.occupied {
          background-color: var(--base0E);
        }
      }
    }

    button.theme {
      color: var(--base0C);
      background-color: transparent;
      transition: all 0.6s;

      &.active {
        image {
          animation: wiggle-active 1.5s ease-in-out;
        }
      }

      &.deactive {
        image {
          animation: wiggle-deactive 1.5s ease-in-out;
        }
      }
    }

    box.volume {
      color: var(--base0B);
      transition: all 0.6s;

      highlight {
        background-color: var(--base0B);
      }

      scale {
        trough {
          min-height: 0.6rem;
          min-width: 5rem;

          slider {
            all: unset;
          }
        }

        highlight {
          background-color: var(--base0B);
        }
      }
    }

    box.battery {
      color: var(--base0A);
      transition: all 0.6s;

      levelbar {
        margin: 0.4rem;

        trough {
          min-height: 0.6rem;
          min-width: 5rem;

          block {
            transition: all 0.6s;

            &.filled {
              background-color: var(--base0A);
            }

            &.filled.danger {
              background-color: var(--base08);
            }
          }
        }
      }
    }

    box.bluetooth {
      menubutton {
        button.toggle {
          padding: 0;
          color: var(--base0D);
          background-color: transparent;
        }
        popover {
          arrow {
            background-color: var(--base01);
          }
          contents {
            background-color: var(--base01);
            switch {
              color: var(--base0D);
              slider {
                transition: all 0.6s;
                background-color: var(--base0D);
              }
              &:checked {
                background-color: shade(var(--base0D), 0.6);
              }
            }
          }
        }
      }
    }
  }
}
