// Default values
:root {
  --radius: 12px;
}

button {
  //background-color: transparent;
}

image {
  -gtk-icon-size: 1rem;
}

label {
  font-family: "JetBrains Mono";
  font-size: 1rem;
  font-weight: bold;
}

tooltip {
  background-color: var(--base00);
  padding: 0px;
  border-radius: var(--radius);
  label {
    color: var(--base05);
  }
}